/* ------------------ Mixins -------------------- */
.back {
  background: url(../images/main.jpg);
  text-align: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; }

.grid-head {
  display: grid;
  width: 90%;
  margin-left: 5%;
  color: white;
  align-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-template-areas: "lang curr ship ship social"; }
.grid-head2 {
  display: grid;
  width: 90%;
  margin-left: 5%;
  color: #353535;
  background-color: #eeeeee;
  align-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-template-areas: "lang curr ship ship social"; }
.grid-nav {
  display: grid;
  padding: 2%;
  margin-left: 7.3%;
  width: 85%;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "search home shop about logo blog contact lookbook cart"; }
.grid-content {
  display: grid;
  width: 85%;
  margin: 0px auto;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  /* grid columns and rows size */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "logo" "slogan" "contentbtn" "scrolldown"; }
.grid-feature-products {
  display: grid;
  width: 70%;
  margin: 0px auto;
  text-align: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "feat1 feat2 feat3"; }
.grid-new-collection {
  display: grid;
  width: 70%;
  margin: 0px auto;
  text-align: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: "coll1 coll2"; }
.grid-best {
  display: grid;
  width: 80%;
  margin: 0px auto;
  padding-top: 2%;
  float: left;
  justify-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(1, 60%);
  grid-template-rows: repeat(auto);
  grid-gap: 10px;
  grid-template-areas: "best" "bestpara" "bestbtn"; }
.grid-blog {
  display: grid;
  width: 70%;
  margin: 0px auto;
  /* grid columns and rows size */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: "blogimg bloginfo"; }
.grid-footer {
  display: grid;
  width: 70%;
  margin: 0px auto;
  padding-top: 5%;
  /* grid columns and rows size */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: "footercontact footerlinks footershop footerinsta"; }
.grid-instagram {
  display: grid;
  width: 80%;
  margin: 0px auto;
  padding-top: 4%;
  align-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: "insta1 insta2 insta3 insta4" "insta5 isnta6 insta7 insta8"; }

.grid2-nav2 {
  display: grid;
  margin-left: 7.3%;
  width: 100%;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "logo . . . home shop about  blog contact lookbook cart search"; }
.grid2-about {
  display: grid;
  width: 85%;
  margin: 0px auto;
  line-height: 30px;
  /* grid columns and rows size */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "whowe aboutimage"; }
.grid2-meet {
  display: grid;
  width: 85%;
  margin: 0px auto;
  text-align: center;
  line-height: 30px;
  justify-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "meet1 meet2 meet3 meet4"; }
.grid2-we-do {
  display: grid;
  width: 80%;
  margin: 0px auto;
  /* grid columns and rows size */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: "wedoimg wedoinfo"; }

.grid3-contact-us-view {
  display: grid;
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 5%;
  align-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "address phone hour" "address email hour" "maps maps maps"; }
.grid3-form {
  display: grid;
  width: 70%;
  margin: auto;
  padding-top: 17%;
  text-align: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-template-areas: "yourname email" "number  subject" "textarea1 textarea1" "contactbtn contactbtn"; }

.grid4-blog-header {
  display: grid;
  width: 80%;
  height: 47px;
  margin: auto;
  align-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "blogblog blogsocial" "line6 lin6"; }
.grid4-blog-main {
  display: grid;
  width: 80%;
  margin: auto;
  padding-top: 3.5%;
  align-items: center;
  /* grid columns and rows size */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  grid-template-areas: "blog1 blog2 blog3" "blog4 blog5 blog6"; }

.grid5-container {
  display: grid;
  width: 100%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  grid-gap: 5px;
  /* grid columns and rows size */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 400px); }

.future-office-design {
  grid-column: span 2;
  grid-row: span 2; }

.future-coffee-table1 {
  grid-column: span 1; }

.future-chairs-office3 {
  grid-column: span 1; }

.future-coffee-table3 {
  grid-column: span 1; }

.future-sofa {
  grid-column: span 1; }

.egg-chair1 {
  grid-column: span 1; }

.future-bed2 {
  grid-column: span 2; }

.future-chair1 {
  grid-column: span 1;
  grid-row: span 2; }

.future-couch2 {
  grid-column: span 1; }

.future-bed3 {
  grid-column: span 1; }

.future-chairs-office1 {
  grid-row: span 2; }

.future-desk-table1 {
  grid-column: span 1; }

.future-coffee-table2 {
  grid-column: span 1; }

.future-bed-new {
  grid-column: span 1; }

.future-kitchen-1 {
  grid-column: span 2;
  grid-row: span 2; }

.future-chair3 {
  grid-column: span 1; }

.future-bed4 {
  grid-column: span 1; }

.home-bar-elegant {
  grid-column: span 2;
  grid-row: span 2; }

.future-couch1 {
  grid-column: span 2; }

.future-chair {
  grid-column: span 1; }

.future-couch3 {
  grid-column: span 2; }

.future-chairs-office2 {
  grid-row: span 2; }

.future-bedroom1 {
  grid-column: span 2;
  grid-row: span 2; }

.future-chair-new {
  grid-column: span 1; }

.best3 {
  grid-column: span 2; }

.future-chair2 {
  grid-column: span 1; }

.future-chair4 {
  grid-column: span 1; }

.future-kitchen-2 {
  grid-column: span 2;
  grid-row: span 2; }

.future-couch5 {
  grid-column: span 1; }

.future-bed5 {
  grid-column: span 1; }

.future-lounge-1 {
  grid-column: span 3;
  grid-row: span 2; }

.future-chair5 {
  grid-row: span 2; }

.future-couch6 {
  grid-column: span 1; }

.home-theater1 {
  grid-column: span 1; }

.future-couch4 {
  grid-column: span 2; }

* {
  box-sizing: border-box; }

html {
  margin: 0px;
  scroll-behavior: smooth; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px; }

header {
  display: inline-block; }

h1 {
  margin: 0px; }

a {
  text-decoration: none; }

li {
  text-decoration: none; }

img {
  width: 100%;
  height: 100%; }

/* -------------------------------------------------------
--------------------- Pseudo-classes --------------------- 
---------------------------------------------------------*/
.search:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

.home:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

.shop:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.about:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.logo:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.blog:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.contact:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.lookbook:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.cart:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.footerlinks-content-:link {
  color: #666666; }
.footerlinks-content-:hover {
  color: #666666;
  transition-duration: 0.6s;
  transition-timing-function: ease-out; }
.footerlinks-content-:visited {
  color: white; }

/*# sourceMappingURL=style.css.map */
