* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    
}

header {
    display: inline-block;
}

h1 {
    margin: 0px
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%; 
}


/* -------------------------------------------------------
--------------------- Pseudo-classes --------------------- 
---------------------------------------------------------*/

.fa-facebook-f:hover {
    color: $facebook;
}

.fa-google-plus-g:hover {
    color: $google;
}

.fa-twitter:hover {
    color: $twitter;
}

.fa-pinterest-p:hover {
    color: $pintrest;
}


.fab:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.fas:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

// Navbar Hover includes different web browser properties
.search:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.home:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.shop:hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.about:hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.logo:hover {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.blog:hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.contact:hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.lookbook:hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
  
.cart:hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.footerlinks-content {
    &-:link {
        color: $brown;
    }
    &-:hover {
        color: $brown;
        transition-duration: 0.6s;
        transition-timing-function: ease-out;
    }
    &-:visited {
        color: white;
    }
}
    