* {
    box-sizing: border-box;
}

html {
  margin: 0px;
  scroll-behavior: smooth;

}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    
}



header {
    
    display: inline-block;
}

h1 {
  
    margin: 0px
}



