.lang {
    grid-area: lang;
   padding: 3%;
    height: 9px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
}
.dropdownlang {
  position: relative;
  display: inline-block;
}

// this styles the drop down box
.dropdownlang-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  background-color: #2d2827;
  min-width: 100px;
  z-index: 1;
}

.dropdownlang:hover .dropdownlang-content {
  display: block;
}

// this ensure that the links are spaced and coloured properly
.dropdownlang-content a {
  color: #999999;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

// once hovered over the text colour would change
.dropdownlang-content a:hover {
      color: rgba(rgb(255, 255, 255), .9);
}

.curr {
  grid-area: curr;
   padding: 4%;
   margin-right: 0%;

    font-family: 'Source Sans Pro', sans-serif;
    
    
    font-style: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
}

.dropdownzar {
  position: relative;
  display: inline-block;
}

// this styles the drop down box
.dropdownzar-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  background-color: #2d2827;
  min-width: 100px;
  z-index: 1;
}

.dropdownzar:hover .dropdownzar-content {
  display: block;
}

// this ensure that the links are spaced and coloured properly
.dropdownzar-content a {
  color: #999999;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

// once hovered over the text colour would change
.dropdownzar-content a:hover {
      color: rgba(rgb(255, 255, 255), .9);
}


.ship {
    grid-area: ship;
    height: 9px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    text-align: center;
    color: #999999;
}

.social {
    grid-area: social;
    height: 15px;
    padding: 4%;
    font-family: FontAwesome;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
}

// Navbar components
.seach {
  grid-area: search;
    
  font-family: Linearicons-Free;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color:#2d2827;
}

.home {
  padding: 20%;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  cursor: pointer;
  color: #2d2827;
    grid-area: home;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

.home:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.shop {
  padding: 20%;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  cursor: pointer;
  color: #2d2827;
    grid-area: shop;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

.shop:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.about {
  padding: 20%;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  cursor: pointer;
  color: #2d2827;
    grid-area: about;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }


.about:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  text-decoration: none;
}

.logo {
  height: 80px;
  width: 80px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  background-image: url(../icons/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
    grid-area: logo;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    filter: invert(70%);
  }


.logo:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  cursor: pointer;
  text-decoration: none;
}

.blog {
  padding: 20%;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  cursor: pointer;
  color: #2d2827;
    grid-area: blog;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }


.blog:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.contact {
  padding: 20%;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  cursor: pointer;
  color: #2d2827;
    grid-area: contact;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }


.contact:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.lookbook {
  padding: 20%;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    cursor: pointer;
    color: #2d2827;
    grid-area: lookbook;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }


.lookbook:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.items {
  grid-area: items;
    width: 18px;
    height: 18px;
    background-color: #2d2827;
}

.cart {
  grid-area: cart;
    
  font-family: FontAwesome;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #2d2827;
}


// Content

.main {
  &-logo {
    grid-area: logo;
     margin-top: 70px;
height: 58px;
font-family: 'Dosis', sans-serif;
font-size: 50px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 0.96;
letter-spacing: normal;
text-align: center;
color: #2d2827;
  }

  &-slogan {
    grid-area: slogan;
height: 39px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.67;
letter-spacing: normal;
text-align: center;
color: #2d2827;
  }

  &-button {
    grid-area: contentbtn;
      width: 150px;
      height: 40px;
      border-radius: 20px;
      background-color: #a88d7b;
      text-align: center;
  }

  &-scroll-down {
    height: 10%;
    width: 10%;
    grid-area: scrolldown;
    padding: 5%;
    background-image: url(../icons/scroll.gif);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(30%);

  }
}


// --------------- Featured Products ---------------

.feature {
    grid-area: feature;
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

.line {
    margin-left: 40%;
    margin-right: 40%;
  height: 2px;
  text-align: center;
  background-color: #a88d7b;
}

.featured-products {
  margin-top: 8%;
    height: 504px;
    // background-color: var(--white);
}


// --------------------------Feature 1



.feat1 {
    grid-area: feat1;
    background-color: #ffffff41;
}

.feat-img1 {
    width: 360px;
    height: 360px;
    background-color: #666666;
    background-image: url(../images/future-chair.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.feat-name1 {
  height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.feat-price1 {
  height: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}

// --------------------------Feature 2
.feat2 {
    grid-area: feat2;
 
}

.feat-img2 {
    width: 360px;
    height: 360px;
    background-color: #666666;
    background-image: url(../images/future-coffee-table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.feat-name2 {
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
  
  .feat-price2 {
    height: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
  }

// --------------------------Feature 3

.feat3 {
    grid-area: feat3;
 
}

.feat-img3 {
    width: 360px;
    height: 360px;
    background-color: #666666;
    background-image: url(../images/future-sofa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.feat-name3 {
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
  
  .feat-price3 {
    height: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
  }


// ----------- New Collection

.new-collection {
  margin-top: 8%;
  height: 555px;
  background-color: #ffffff;
}
.neww {
    grid-area: neww;
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

.line2 {
    margin-left: 43%;
    margin-right: 43%;
  height: 2px;
  text-align: center;
  background-color: #a88d7b;
}

.coll1 {
    grid-area: coll1;
    
}

.collection-img {
  width: 526px;
    height: 373px;
    background-color: #666666;
    background-image: url(../images/future-bed-new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.collection-name {
    
    height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b;
}

.coll2 {
    grid-area: coll2;
   
}

.collection-img2 {
  width: 526px;
    height: 373px;
    background-color: #666666;
    background-image: url(../images/future-chair-new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.collection-name2 {
    
    height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b;
}

// ---------- Best Goods

.goods {
  height: 522px;
  opacity: 0.9;
  margin-top: 5%;
  background-color: #666666;
  background-image: linear-gradient( to right, #383838b9, #66666652), url(../images/best.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
//   -moz-transition: all 0.3s;
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
// }

// .goods:hover {
//   -moz-transform: scale(1.1);
//   -webkit-transform: scale(1.1);
//   transform: scale(1.1);
// }

.best-heading { 
    grid-area: best;
    margin-top: 5%;
    height: 38px;
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    margin-left: 20%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.best-para {
    grid-area: bestpara;
    height: 38px;
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-left: 20%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.best-btn {
    grid-area: bestbtn;
    
    
    width: 150px;
      height: 40px;
      border-radius: 20px;
      background-color: #a88d7b;
      text-align: center;
}

// -------------- Blog

.blog-section {
  height: 581px;
  background-color: #f9f9f9;
  }

.blog-head {
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }
  
  .line3 {
      margin-left: 43%;
      margin-right: 43%;
    height: 2px;
    text-align: center;
    background-color: #a88d7b;
  }

  .blogimg {
      grid-area: blogimg;
    height: 405px;
    background-color: #666666;
  }

  .bloginfo {
    grid-area: bloginfo;
    height: 405px;
  }

  .blog-seconday-head {

    height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .blog-date {

    height: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
  }

  .blog-para {
  
    height: 239px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
  }

  .blog-readm {
   
    height: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #a88d7b;
  }

//  --------------- Footer 

.footer1 {
  width: 100%;
  height: 425px;
  background-color: #2d2827;
}

.footercontact {
 grid-area: footercontact;
 
}

.footer-head1 {
  height: 80px;
  width: 80px;
  background-image: url(../icons/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.footercontact-content {

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  // color: var(--warm-grey);
  color: #666666;
}

.footerlinks {
    grid-area: footerlinks;
}

.footer-head2 {
  width: 46px;
  height: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
}

.footerlinks-content {
  padding: 2%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  // color: var(--warm-grey);
  color: #666666;
}

.footershop {
    grid-area: footershop;
}

.footer-head3 {
  width: 46px;
  height: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
}

.footershop-content {
  padding: 2%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  // color: var(--warm-grey);
  color: #666666;
}

.footerinsta {
    grid-area: footerinsta;
}

.footer-head4 {
  width: 46px;
  height: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
}

.insta-img1 {
  grid: insta1;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(../images/future-chair.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta-img2 {
  grid: insta2;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(../images/future-chair.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta-img3 {
  grid: insta3;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(../images/future-chair.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta-img4 {
  grid: insta4;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(../images/future-bed-new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-img5 {
  grid: insta5;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(../images/future-chair-new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-img6 {
  grid: insta6;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(/images/future-chair.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta-img7 {
  grid: insta7;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(../images/future-sofa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-img8 {
  grid: insta8;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  background-image: url(../images/future-coffee-table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.copyright {
  width: 100%;
  height: 85px;
  background-color: #d7d7d7;
}

.copyright-text {
  height: 14px;
 padding-top: 2%;
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

// --------------------------------------------------------------------------------------
// ------------------------------------- ABOUT PAGE -------------------------------------
// --------------------------------------------------------------------------------------

.navabout {
  height: 385px;
  background-color: #666666;
  background-image: linear-gradient( to right, #383838b9, #383838b9), url(../images/main2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutus {
  padding-top: 10%;
  height: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff;
}

.navshow {
  padding-top: 1%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #cccccc;
}

.who-we-are {
  margin-top: 5%;
  height: 548px;
  background-color: #ffffff;

} 

.who-we-are-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.about-para {
  width: 524px;
  height: 89px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.about-section {
  grid-area: whowe;
}



.about-us-image {
  grid-area: aboutimage;
  width: 600px;
  height: 490px;
  background-image: url(../images/whatwedo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.meet-us {
  height: 581px;
  background-color: #ffffff;
}

.meet-our-team {
  grid-area: feature;
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.line4 {
  margin-left: 45%;
  margin-right: 45%;
  height: 2px;
  text-align: center;
  background-color: #a88d7b;
}


.meet1 {
    grid-area: meet1;
   
}

.meet-img1 {
  width: 270px;
  height: 305px;
  background-color: #666666;
    background-image: url(../images/greg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.meet-name1 {
  height: 19px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 1px;
  text-align: center;
  color: #333333;
}

.meet-position1 {

  height: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: center;
  // color: var(--warm-grey);
  color: #999999;
}

.meet-social1 {
 
  height: 11px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}

.meet2 {
  grid-area: meet2;
 
}

.meet-img2 {
width: 270px;
height: 305px;
background-color: #666666;
  // background-image: url(../images/future-chair.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.meet-name2 {
height: 19px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 2.4;
letter-spacing: 1px;
text-align: center;
color: #333333;
}

.meet-position2 {

height: 11px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 0.5;
letter-spacing: normal;
text-align: center;
// color: var(--warm-grey);
color: #999999;
}

.meet-social2 {

height: 11px;
font-family: FontAwesome;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.5;
letter-spacing: normal;
text-align: center;
color: #555555;
}

.meet3 {
  grid-area: meet3;
 
}

.meet-img3 {
width: 270px;
height: 305px;
background-color: #666666;
  // background-image: url(../images/future-chair.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.meet-name3 {
height: 19px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 2.4;
letter-spacing: 1px;
text-align: center;
color: #333333;
}

.meet-position3 {

height: 11px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 0.5;
letter-spacing: normal;
text-align: center;
// color: var(--warm-grey);
color: #999999;
}

.meet-social3 {

height: 11px;
font-family: FontAwesome;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.5;
letter-spacing: normal;
text-align: center;
color: #555555;
}

.meet4 {
  grid-area: meet4;
 
}

.meet-img4 {
width: 270px;
height: 305px;
background-color: #666666;
  // background-image: url(../images/future-chair.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.meet-name4 {

font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 2.4;
letter-spacing: 1px;
text-align: center;
color: #333333;
}

.meet-position4 {


font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 0.5;
letter-spacing: normal;
text-align: center;
// color: var(--warm-grey);
color: #999999;
}

.meet-social4 {


font-family: FontAwesome;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.5;
letter-spacing: normal;
text-align: center;
color: #555555;
}


.what-we-do {
 
  height: 690px;
  background-color: #ffffff;
  }

  .what-we-do-img {
      grid-area: wedoimg;
      width: 600px;
  height: 490px;
  
  background-image: url(../images/whoweare.png);
  background-size: contain;
  background-repeat: no-repeat;
  
  }

  .what-we-do-info {
    grid-area: wedoinfo;
    height: 495px;
  }

  .what-we-do-head {
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }

   
  .line5 {
    margin-left: 43%;
    margin-right: 43%;
  height: 2px;
  text-align: center;
  background-color: #a88d7b;
}

.what-we-do-para {
  width: 524px;
  height: 139px;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

// --------------------------------------------------------------------------------------
// ----------------------------------- CONTACT PAGE -------------------------------------
// --------------------------------------------------------------------------------------


.navcontact {
  height: 385px;
  background-color: #666666;
  background-image: linear-gradient( to right, #383838b9, #383838b9), url(../images/main3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contactus {
  padding-top: 10%;
  height: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  color: #ffffff;
}

.contactshow {
  padding-top: 1%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #cccccc;
}

.contact-us-view {
  width: 100%;
  height: 485px;
  background-color: #ffffff;
}

.address {
  grid-area: address;
  width: 370px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.location-icon {
  width: 100%;
  height: 37px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.our-address {
  width: 100%;
  height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333;
}

.our-address-view {
  width: 100%;
  height: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.phone {
  grid-area: phone;
  width: 390px;
  height: 100px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.phone-content {
  margin-top: 10%;
  height: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.email {
  grid-area: email;
  width: 390px;
  height: 100px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.email-content {
  margin-top: 10%;
  height: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.hour {
  grid-area: hour;
  width: 390px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.clock {
  width: 100%;
  height: 37px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.openning-hour {
  width: 100%;
  height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333;
}

.trading {
  width: 100%;
  height: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}


