.lang {
    grid-area: lang;
}

.curr {
    grid-area: curr;
}

.ship {
    grid-area: ship;
}

.face {
    grid-area: face;
}

.gmail {
    grid: gmail;
}

.twitter {
    grid-area: twitter;
}

.mail {
    grid-area: mail;
}

.home {
    background-color: blue;
    grid-area: home;
}

.shop {
    background-color: rgb(95, 240, 38);
    grid-area: shop;
}

.about {
    background-color: rgb(0, 255, 128);
    grid-area: about;
}

.logo {
    background-color: rgb(255, 0, 212);
    grid-area: logo;
}

.blog {
    background-color: rgb(255, 72, 0);
    grid-area: blog;
}

.contact {
    background-color: rgb(255, 196, 0);
    grid-area: contact;
}

.lookbook {
    background-color: rgb(255, 0, 0);
    grid-area: lookbook;
}

