// --------------------------------------------------------------------------------------
// ------------------------------------- INDEX PAGE -------------------------------------
// --------------------------------------------------------------------------------------

// ******* Header Index Page properties ***********

// This style the top header for the homepage
.header1 {
    width: 100%;
    height: 53px;
    background-color: $dark-brown;
}

// Language section in the header
.lang {
    grid-area: lang;
    padding: 1%;
    margin-right: 0%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    letter-spacing: normal;
    text-align: center;
    color: $font-light;
}
.dropdownlang {
    position: relative;
    display: inline-block;
}

// this styles the drop down box
.dropdownlang-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #2d2827;
    min-width: 100px;
    z-index: 1;
}

// displays both properties in a block
.dropdownlang:hover .dropdownlang-content {
    display: block;
}

// this ensure that the links are spaced and coloured properly
.dropdownlang-content a {
    color: $font-light;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

// once hovered over the text colour would change
.dropdownlang-content a:hover {
    color: rgba(rgb(255, 255, 255), .9);
}

// Currency section in the header
.curr {
    grid-area: curr;
    padding: 1%;
    margin-right: 0%;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    letter-spacing: normal;
    text-align: center;
    color: $font-light;
}

.dropdownzar {
    position: relative;
    display: inline-block;
}

// this styles the drop down box
.dropdownzar-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: $dark-brown;
    min-width: 100px;
    z-index: 1;
}

// displays both properties in a block
.dropdownzar:hover .dropdownzar-content {
  display: block;
}

// this ensure that the links are spaced and coloured properly
.dropdownzar-content a {
  color: $font-light;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

// once hovered over the text colour would change
.dropdownzar-content a:hover {
    color: rgba(rgb(255, 255, 255), .9);
}


.ship {
    grid-area: ship;
    padding: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    text-align: center;
    color: $font-light;
}

.social {
    grid-area: social;
    padding: 1%;
    font-family: FontAwesome;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $font-light;
}



// Navbar components
.search {
    grid-area: search;
    font-size: 22px;
    @include nav;
}

.home {
    grid-area: home;
    font-size: 15px;
    @include nav;
  }

.shop {
    grid-area: shop;
    font-size: 15px;
    @include nav;
  }


.about {
    grid-area: about;
    font-size: 15px;
    @include nav;
  }

.logo {
    grid-area: logo;
    font-size: 30px;
    font-weight: 700;
    @include nav;
    letter-spacing: 1.8px;
    text-align: right;
    filter: invert(30%);
  }

.blog {
    grid-area: blog;
    font-size: 15px;
    @include nav;
}

.contact {
    grid-area: contact;
    font-size: 15px;
    @include nav;
}

.lookbook {
    grid-area: lookbook;
    font-size: 15px;
    @include nav;
}

.cart {
    grid-area: cart;
    font-size: 20px;
    @include nav;
}




// Content

.main {
  &-logo {
    grid-area: logo;
    margin-top: 70px;
    height: 58px;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: $dark-brown;
  }

  &-slogan {
    grid-area: slogan;
    height: 39px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #2d2827;
  }

  &-button {
    grid-area: contentbtn;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: $teel-colour;
    text-align: center;
    cursor: pointer;
     -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  }

  &-scroll-down {
    height: 10%;
    width: 10%;
    grid-area: scrolldown;
    padding: 5%;
    background-image: url(../icons/scroll.gif);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(30%);
  }
}

.scrolling {
  margin-top: 5%;
  margin-right: 1.8%;
}

.main-button:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  }
  


// --------------- Featured Products ---------------

.featured-products {
  margin-top: 5%;
  height: 504px;
}

.feature {
  grid-area: feature;
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $heading;
}

.line {
  margin-left: 46%;
  margin-right: 46%;
  margin-bottom: 3%;
  height: 2px;
  text-align: center;
  background-color: $teel-colour;
}


// --------------------------Feature 1



.feat1 {
    grid-area: feat1;
}

.feat-img1 {
  width: 370px;
  height: 360px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

.feat-name1 {
  padding: 2%;
  height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: $heading;
}

.feat-price1 {
  padding: 5%;
  height: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: $font-light;
}

// --------------------------Feature 2
.feat2 {
    grid-area: feat2;
 
}

.feat-img2 {
  width: 370px;
  height: 360px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

.button-new {
  width: 60px;
  height: 25px;
  border-radius: 7.5px;
  background-color: $teel-colour;
  z-index: 1;
}

.feat-name2 {
    padding: 2%;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: $heading;
  }
  
  .feat-price2 {
    padding: 5%;
    height: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: $font-light;
  }

// --------------------------Feature 3

.feat3 {
    grid-area: feat3;
 
}

.feat-img3 {
  width: 370px;

  height: 360px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

.feat-name3 {
  padding: 2%;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: $heading;
  }
  
  .feat-price3 {
    padding: 5%;
    height: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: $font-light;
  }


// ----------- New Collection

.new-collection {
  margin-top: 8%;
  height: 555px;
  background-color: $white-back;
}
.neww {
    grid-area: neww;
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: $heading;
}

.line2 {
    margin-left: 46%;
    margin-right: 46%;
    margin-bottom: 3%;
  height: 2px;
  text-align: center;
  background-color: $teel-colour;
}

.coll1 {
    grid-area: coll1;
    
}

.collection-img {
  width: 526px;
    height: 373px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

.collection-name {
    
    height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: $teel-colour;
}

.coll2 {
    grid-area: coll2;
   
}

.collection-img2 {
    width: 526px;
    height: 373px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

.collection-name2 {
    
    height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: $teel-colour;
}

// ---------- Best Goods

.goods {
  height: 522px;
  opacity: 0.9;
  margin-top: 5%;
  background-color: $brown;
  background-image: linear-gradient( to right, #383838b9, #66666652), url(../images/best.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.best-heading { 
    grid-area: best;
    margin-top: 5%;
    height: 38px;
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    margin-left: 20%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $white-back;
}

.best-para {
    grid-area: bestpara;
    height: 38px;
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-left: 20%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: $white-back;
}

.best-btn {
    grid-area: bestbtn;
    
    
    width: 150px;
      height: 40px;
      border-radius: 20px;
      background-color: $teel-colour;
      text-align: center;
}

// -------------- Blog

.blog-section {
  height: 581px;
  background-color: #f9f9f9;
  }

.blog-head {
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: $heading;
  }
  
  .line3 {
      margin-left: 43%;
      margin-right: 43%;
    height: 2px;
    text-align: center;
    background-color: $teel-colour;
  }

  .blogimg {
      grid-area: blogimg;
      width: 100%;
    height: 405px;
    background-color: $brown;
    background-image: url(/images/blog-images/z-island.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bloginfo {
    grid-area: bloginfo;
    height: 405px;
  }

  .blog-seconday-head {

    height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: $heading;
  }

  .blog-date {

    height: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: left;
    color: $font-light;
  }

  .blog-para {
    height: 249px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: $brown;
  }

  .blog-readm {
   
    height: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: $teel-colour;
  }

//  --------------- Footer 

.footer1 {
  width: 100%;
  height: 425px;
  background-color: #2d2827;
}

.footercontact {
 grid-area: footercontact;
 
}

.footer-head1 {
  margin-top: 4%;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #e5e5e5;
}

.footercontact-content {

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  
  color: $brown;
}

.footerlinks {
    grid-area: footerlinks;
}

.footer-head2 {
  width: 46px;
  height: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
}

.footerlinks-content {
  padding: 2%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  
  color: $brown;
}

.footershop {
    grid-area: footershop;
}

.footer-head3 {
  width: 46px;
  height: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
}

.footershop-content {
  padding: 2%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  
  color: $brown;
}

.footerinsta {
    grid-area: footerinsta;
}

.footer-head4 {
  width: 46px;
  height: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
}

.insta-img1 {
  grid: insta1;
  width: 80px;
  height: 80px;
  background-color: $white-back;
  background-image: url(../images/future-chair.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta-img2 {
  grid: insta2;
  width: 80px;
  height: 80px;
  background-color: $white-back;
  background-image: url(../images/future-chair.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta-img3 {
  grid: insta3;
  width: 80px;
  height: 80px;
  background-color: $white-back;
  background-image: url(../images/future-chair.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta-img4 {
  grid: insta4;
  width: 80px;
  height: 80px;
  background-color: $white-back;
  background-image: url(../images/future-bed-new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-img5 {
  grid: insta5;
  width: 80px;
  height: 80px;
  background-color: $white-back;
  background-image: url(../images/future-chair-new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-img6 {
  grid: insta6;
  width: 80px;
  height: 80px;
  background-color: $white-back;
  background-image: url(/images/future-chair.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta-img7 {
  grid: insta7;
  width: 80px;
  height: 80px;
  background-color: $white-back;
  background-image: url(../images/future-sofa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-img8 {
  grid: insta8;
  width: 80px;
  height: 80px;
  background-color: $white-back;
  background-image: url(../images/future-coffee-table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

// COPYRIGHT TEXT ---------------------------------------------

.copyright {
  width: 100%;
  height: 85px;
  background-color: #d7d7d7;
}

.copyright-text {
  height: 14px;
 padding-top: 1.5%;
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: $brown;
}

// --------------------------------------------------------------------------------------
// ------------------------------------- ABOUT PAGE -------------------------------------
// --------------------------------------------------------------------------------------

.navabout {
  height: 385px;
  background-color: $brown;
  background-image: $nav-panel, url(../images/main2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutus {
  padding-top: 10%;
  height: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  color: $white-back;
}

.navshow {
  padding-top: 1%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: $warm-gray;
}

.who-we-are {
  margin-top: 5%;
  height: 548px;
  background-color: $white-back;

} 

.who-we-are-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  width: 70%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: $heading;
}



.about-para {
  width: 524px;
  height: 89px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: $brown;
}

.about-section {
  grid-area: whowe;
}



.about-us-image {
  grid-area: aboutimage;
  width: 600px;
  height: 490px;
  background-image: url(../images/whatwedo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.meet-us {
  height: 581px;
  background-color: $white-back;
}

.meet-our-team {
  grid-area: feature;
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: $heading;
}

.line4 {
  margin-left: 45%;
  margin-right: 45%;
  height: 2px;
  text-align: center;
  background-color: $teel-colour;
}


.meet1 {
    grid-area: meet1;
   
}

.meet-img1 {
  width: 270px;
  height: 305px;
  background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

.meet-name1 {
  height: 19px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 1px;
  text-align: center;
  color: $heading;
}

.meet-position1 {

  height: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: center;
  
  color: $font-light;
}

.meet-social1 {
  height: 11px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}

.meet2 {
    grid-area: meet2;
 
}

.meet-img2 {
    width: 270px;
    height: 305px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

.meet-name2 {
height: 19px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 2.4;
letter-spacing: 1px;
text-align: center;
color: $heading;
}

.meet-position2 {

height: 11px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 0.5;
letter-spacing: normal;
text-align: center;

color: $font-light;
}

.meet-social2 {

height: 11px;
font-family: FontAwesome;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.5;
letter-spacing: normal;
text-align: center;
color: #555555;
}

.meet3 {
  grid-area: meet3;
 
}

.meet-img3 {
    width: 270px;
    height: 305px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

.meet-name3 {
height: 19px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 2.4;
letter-spacing: 1px;
text-align: center;
color: $heading;
}

.meet-position3 {

height: 11px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 0.5;
letter-spacing: normal;
text-align: center;

color: $font-light;
}

.meet-social3 {

height: 11px;
font-family: FontAwesome;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.5;
letter-spacing: normal;
text-align: center;
color: #555555;
}

.meet4 {
  grid-area: meet4;
 
}

.meet-img4 {
width: 270px;
height: 305px;
background-color: $brown;
  background-size: cover;
  background-repeat: no-repeat;
}

.meet-name4 {

font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 2.4;
letter-spacing: 1px;
text-align: center;
color: $heading;
}

.meet-position4 {


font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 0.5;
letter-spacing: normal;
text-align: center;

color: $font-light;
}

.meet-social4 {


font-family: FontAwesome;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.5;
letter-spacing: normal;
text-align: center;
color: #555555;
}


.what-we-do {
 
  height: 690px;
  background-color: $white-back;
  }

  .what-we-do-img {
      grid-area: wedoimg;
      width: 600px;
  height: 490px;
  
  background-image: url(../images/whoweare.png);
  background-size: contain;
  background-repeat: no-repeat;
  
  }

  .what-we-do-info {
    grid-area: wedoinfo;
    height: 495px;
  }

  .what-we-do-head {
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: $heading;
  }

   
  .line5 {
    margin-left: 43%;
    margin-right: 43%;
  height: 2px;
  text-align: center;
  background-color: $teel-colour;
}

.what-we-do-para {
  width: 524px;
  height: 139px;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: $brown;
}

// --------------------------------------------------------------------------------------
// ----------------------------------- CONTACT PAGE -------------------------------------
// --------------------------------------------------------------------------------------


.navcontact {
  height: 385px;
  background-color: $brown;
  background-image: $nav-panel, url(../images/main3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contactus {
  padding-top: 10%;
  height: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  color: $white-back;
}

.contactshow {
  padding-top: 1%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: $warm-gray;
}

.contact-us-view {
  width: 100%;
  height: 370px;
  background-color: $white-back;
}

.address {
  grid-area: address;
  width: 100%;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.location-icon {
  width: 100%;
  height: 37px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: center;
  color: $heading;
}

.our-address {
  width: 100%;
  height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: $heading;
}

.our-address-view {
  width: 100%;
  height: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: $brown;
}

.phone {
  grid-area: phone;
  width: 100%;
  height: 100px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.phone-content {
  margin-top: 10%;
  width: 100%;
  height: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: $brown;
}

.email {
  grid-area: email;
  width: 100%;
  height: 100px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.email-content {
  margin-top: 10%;
  height: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: $brown;
}

.hour {
  grid-area: hour;
  width: 100%;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.clock {
  width: 100%;
  height: 37px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: center;
  color: $heading;
}

.openning-hour {
  width: 100%;
  height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: $heading;
}

.trading {
  width: 100%;
  height: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: $brown;
}


.googlemaps1 {
  grid-area: maps;
  width: 100%;
 height: 350px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
}

.form1 {
  width: 100%;
  height: 750px;
}

.name {
    grid-area: yourname;
    text-indent: 2%;
    height: 50px;
    border: solid 1px #e6e6e6;
    background-color: $white-back;
  }
  
.emailform {
    grid-area: email;
    text-indent: 2%;
    height: 50px;
    border: solid 1px #e6e6e6;
    background-color: $white-back;
  }

.number {
    grid-area: number;
    text-indent: 2%;
    width: 100%;
    height: 50px;
    border: solid 1px #e6e6e6;
    background-color: $white-back;
  }

 .subject {
    grid-area: subject;
    text-indent: 2%;
    height: 50px;
    border: solid 1px #e6e6e6;
    background-color: $white-back;
  }

.text-area1 {
    grid-area: textarea1;
    text-indent: 2%;
  height: 150px;
  font-family: 'Source Sans Pro', sans-serif;
  border: solid 1px #e6e6e6;
  background-color: $white-back;
  }

.contact-btn {
    grid-area: contactbtn;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: $teel-colour;
    text-align: center;
  }

  // --------------------------------------------------------------------------------------
// ----------------------------------- BLOG PAGE -------------------------------------
// --------------------------------------------------------------------------------------

  .navblog {
    height: 385px;
    background-color: $brown;
    background-image: $nav-panel, url(../images/main4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .blogus {
    padding-top: 10%;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: $white-back;
  }
  
  .blogshow {
    padding-top: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $warm-gray;
  }

  .blog-blog {
    grid-area: blogblog;
    width: 100%;
    height: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: $brown;
  }

  .blog-social {
    grid-area: blogsocial;
    width: 100%;
    height: 15px;
    padding-top: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: right;
    color: $brown;
  }

  .line6 {
    grid-area: line6;
    width: 80%;
    margin-left: 10%;
    height: 1.2px;
    text-align: right;
    background-color: #e6e6e6;
  }

  .blog1 {
    &-content {
      grid-area: blog1;
    }

    &-img {
      width: 100%;
      height: 325px;
      background-color: $brown;
      background-size: cover;
    }

    &-heading {
      width: 100%;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
      color: $heading;
    }

    &-date {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;    
      font-size: 15px;    
      font-weight: normal;   
      font-style: normal;    
      font-stretch: normal;    
      line-height: 3.2;    
      letter-spacing: normal;    
      text-align: left;    
      
      color: $gray;
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: $border-line-blog;
    }

    &-paragraph {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;   
      font-weight: normal;  
      font-style: normal; 
      font-stretch: normal; 
      line-height: 1.67;   
      letter-spacing: normal;    
      text-align: left;    
      color: $brown;
    }
  }


  .blog2 {
    &-content {
      grid-area: blog2;
      padding-top: 2.5%;
    }

    &-img {
      width: 100%;
      height: 325px;
      background-color: $brown;
      background-size: cover;
    }

    &-heading {
      width: 100%;
     
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
      color: $heading;
    }

    &-date {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;    
      font-size: 15px;    
      font-weight: normal;   
      font-style: normal;    
      font-stretch: normal;    
      line-height: 3.2;    
      letter-spacing: normal;    
      text-align: left;    
      
      color: $gray;
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: $border-line-blog;
    }

    &-paragraph {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;   
      font-weight: normal;  
      font-style: normal; 
      font-stretch: normal; 
      line-height: 1.60;   
      letter-spacing: normal;    
      text-align: left;    
      color: $brown;
    }
  }


  .blog3 {
    &-content {
      grid-area: blog3;
    }

    &-img {
      width: 100%;
      height: 325px;
      background-color: $brown;
    }

    &-heading {
      width: 100%;
     
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
      color: $heading;
    }

    &-date {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;    
      font-size: 15px;    
      font-weight: normal;   
      font-style: normal;    
      font-stretch: normal;    
      line-height: 3.2;    
      letter-spacing: normal;    
      text-align: left;    
      
      color: $gray;
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: $border-line-blog;
    }

    &-paragraph {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;   
      font-weight: normal;  
      font-style: normal; 
      font-stretch: normal; 
      line-height: 1.67;   
      letter-spacing: normal;    
      text-align: left;    
      color: $brown;
    }
  }

  .blog4 {
    &-content {
      grid-area: blog3;
    }

    &-img {
      width: 100%;
      height: 325px;
      background-color: $brown;
    }

    &-heading {
      width: 100%;
     
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
      color: $heading;
    }

    &-date {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;    
      font-size: 15px;    
      font-weight: normal;   
      font-style: normal;    
      font-stretch: normal;    
      line-height: 3.2;    
      letter-spacing: normal;    
      text-align: left;    
      
      color: $gray;
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: $border-line-blog;
    }

    &-paragraph {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;   
      font-weight: normal;  
      font-style: normal; 
      font-stretch: normal; 
      line-height: 1.67;   
      letter-spacing: normal;    
      text-align: left;    
      color: $brown;
    }
  }

  .blog5 {
    &-content {
      grid-area: blog3;
    }

    &-img {
      width: 100%;
      height: 325px;
      background-color: $brown;
    }

    &-heading {
      width: 100%;
     
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: left;
      color: $heading;
    }

    &-date {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;    
      font-size: 15px;    
      font-weight: normal;   
      font-style: normal;    
      font-stretch: normal;    
      line-height: 3.0;    
      letter-spacing: normal;    
      text-align: left;    
      
      color: $gray;
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: $border-line-blog;
    }

    &-paragraph {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;   
      font-weight: normal;  
      font-style: normal; 
      font-stretch: normal; 
      line-height: 1.50;   
      letter-spacing: normal;    
      text-align: left;    
      color: $brown;
    }
  }

  .blog6 {
    &-content {
      grid-area: blog3;
    }

    &-img {
      width: 100%;
      height: 325px;
      background-color: $brown;
    }

    &-heading {
      width: 100%;
     
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.2;
      letter-spacing: normal;
      text-align: left;
      color: $heading;
    }

    &-date {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;    
      font-size: 15px;    
      font-weight: normal;   
      font-style: normal;    
      font-stretch: normal;    
      line-height: 3.0;    
      letter-spacing: normal;    
      text-align: left;    
      
      color: $gray;
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: $border-line-blog;
    }

    &-paragraph {
      width: 100%;
       
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;   
      font-weight: normal;  
      font-style: normal; 
      font-stretch: normal; 
      line-height: 1.52;   
      letter-spacing: normal;    
      text-align: left;    
      color: $brown;
    }
  }


  // --------------------------------------------------------------------------------------
// ----------------------------------- LOOKBOOK PAGE -------------------------------------
// --------------------------------------------------------------------------------------

  .navlook {
    height: 385px;
    background-color: $brown;
    background-image: $nav-panel, url(../images/main5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .lookus {
    padding-top: 10%;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: $white-back;
  }
  
  .lookshow {
    padding-top: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $warm-gray;
  }



  .zoom {
    display: inline-block;
    overflow: hidden;
    
  }

  .zoom img {
    display: block;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(110%);
  }

