.back {
    background-color: rgb(163, 163, 163);
    background-size: cover;
  
    height: 100vh;
    background-repeat: no-repeat;
}

.head {
 
    display: inline;
}

.navigation {
    width: 100%;
    background-color: rgba(175, 175, 175, 0.801);
}

.main {
    &-logo {
        font-size: 100px;
        text-align: center
    }

    &-slogan {
        text-align: center;
    }

    &-phrase {
        text-align: center;
    }

    &-button {
        margin-left: 47%;
        text-align: center;
    }

    &-scroll-down {
        text-align: center;
    }
}

// Created a Grid system so t
.grid {
    &-head {
        display: grid;
        width: 100%;
        margin: 0px auto;
        text-align: center;
        height: 53px;
        background-color: #2d2827;
        color: white;
    
        /* grid columns and rows size */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        grid-template-areas: 
                    "langcurr ship social"
    }

    &-nav {
    display: grid;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;

    /* grid columns and rows size */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;

    grid-template-areas: 
                "home shop about logo blog contact lookbook"
    }

    &-feature-products {
        display: grid;
        width: 80%;
        margin: 0px auto;
        text-align: center;
    
        /* grid columns and rows size */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;
    
        grid-template-areas: 
                    "feature feature feature"
                    "feat1 feat2 feat3"
    }

    &-new-collection {
        display: grid;
        width: 80%;
        margin: 0px auto;
        text-align: center;
    
        /* grid columns and rows size */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;
    
        grid-template-areas: 
                    "neww neww"
                    "coll1 coll2"
    }
}





