/* ------------------ Mixins -------------------- */

// HEADINGS --------------------

@mixin main-heading {
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: $heading;
}

@mixin underline {
    margin-left: 46%;
    margin-right: 46%;
    margin-bottom: 3%;
    height: 2px;
    text-align: center;
    background-color: $teel-colour;
}

// HEADERS --------------------------

@mixin langcurr {

    margin-right: 0%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    color: $font-light;
}

@mixin socialship {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
 
    line-height: 1;
    letter-spacing: 2.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $font-light;
}

// NAV PANEL MIXINS ------------------

@mixin nav-image {
    height: 385px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin nav-heading {
    padding-top: 140px;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: $white-back;
}

@mixin nav-show {
    padding-top: 1%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $warm-gray;
}

// FOOTER MIXINS ------------------

@mixin footer-heading1 {
    width: 60%;
    height: 20%;
    margin-top: 4%;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: $footer-heading;
}

@mixin footer-heading2 {
    width: 46px;
    height: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $footer-heading;
}

@mixin footer-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: $brown;
}

@mixin footer-insta-images {
    width: 80px;
    height: 80px;
    background-color: $white-back;
    background-size: contain;
    background-repeat: no-repeat;
}

// --------------------------------------------
// ------------- HOME PAGE MIXINS -------------
// --------------------------------------------

@mixin nav{
    padding: 20%;
    color:$dark-brown;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.8px;
    cursor: pointer;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


// ******* Feature properties ***********

@mixin feature-image {
    width: 100%;
    height: 80%;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin feature-name {
    padding: 2%;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: $heading;
}

@mixin feature-price {
    padding: 5%;
    height: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: $font-light;
}

// ******* New Collection properties *********

@mixin collection-image {
    width: 100%;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin collection-name {
    height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: $teel-colour;
}

// --------------------------------------------
// ------------ ABOUT PAGE MIXINS -------------
// --------------------------------------------

@mixin about-paragraph {
    width: 100%;
    height: 89px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: $brown;
}

@mixin what-we-do-images {
    width: 600px;
    height: 490px;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin meet-image {
    width: 270px;
    height: 305px;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin meet-name {
    height: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: 1px;
    text-align: center;
    color: $heading;
}

@mixin meet-position {
    height: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    color: $font-light;
}

@mixin meet-social {
    height: 11px;
    font-family: FontAwesome;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: $social-gray;
}

// --------------------------------------------
// ---------- CONTACT PAGE MIXINS -------------
// --------------------------------------------


@mixin contact-panel {
    width: 100%;
    border: solid 1px $white-border;
    background-color: $white-panel;
}

@mixin contact-content {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    letter-spacing: 1.3px;
    text-align: center;
}

@mixin form-style {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-indent: 2%;
    border: solid 1px $white-border;
    background-color: $white-back;
    color: $social-gray;
}

// --------------------------------------------
// ------------ BLOG PAGE MIXINS --------------
// --------------------------------------------

@mixin blog-image {
    width: 100%;
    height: 305px;
    background-color: $brown;
    background-size: cover;
}

@mixin blog-heading {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: $heading;
}

@mixin blog-date {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;    
    font-weight: normal;   
    font-style: normal;    
    font-stretch: normal;    
    line-height: 3.2;    
    letter-spacing: normal;    
    text-align: left;    
    color: $gray;
}

@mixin blog-line {
    width: 100%;
    height: 1px;
    background-color: $border-line-blog;
}

@mixin blog-paragraph {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;   
    font-weight: normal;  
    font-style: normal; 
    font-stretch: normal; 
    line-height: 1.67;   
    letter-spacing: normal;    
    text-align: left;    
    color: $brown;
}

/* ------------------ Responsive Mixins -------------------- */

@mixin res-mobi-nav{
    padding: 10%;
}

@mixin res-mobi-nav-image {
    height: 355px;
    background-size: cover;
}

@mixin res-mobi-reslangcurr {
    padding: 0px;
    margin-right: 0%;
    font-size: 8px;
    font-weight: 100;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 2px;
}

@mixin res-mobi-socialship {
    font-size: 8px;
    padding: 0px;
    line-height: 1.1;
    letter-spacing: 2px;
}

@mixin res-mobi-feature-image {
    width: 100%;
    height: 50%;
    background-color: $brown;
    background-size: cover;
    background-repeat: no-repeat;
}


@mixin res-mobi-footer-heading1 {
    width: 60%;
    height: 20%;
    margin-top: 4%;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: $footer-heading;
}

@mixin res-mobi-footer-heading2 {
    width: 46px;
    height: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $footer-heading;
}

@mixin res-mobi-footer-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: $brown;
}

@mixin res-mobi-footer-insta-images {
    width: 80px;
    height: 80px;
    background-color: $white-back;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin res-mobi-footer-insta-images {
    width: 70px;
    height: 70px;
}

@mixin res-mobi-what-we-do-images {
    width: 100%;
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin res-mobi-meet-name {
    height: 100%;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 1px;
}

@mixin res-mobi-meet-position {
    height: 100%;
    font-size: 15px;
    line-height: 0.5;
    padding: 5px;
}

@mixin res-mobi-meet-social {
    height: 100%;
    font-size: 15px;
    line-height: 1.5;
    padding: 10px;
}

@mixin res-mobi-about-paragraph {
    width: 100%;
    height: 100%;
}

