/***********************************************************************
**************************** MEDIA QUERIES *****************************
***********************************************************************/


/* ---------------------------- MOBILE -------------------------------*/

@media only screen 
    and (min-width: 200px)
    and (max-width: 480px) {

        // Home Page
        .header1 {
            width: 100%;
            height: 33px;
        }

        .lang {
            @include res-mobi-reslangcurr;
        }

        .curr {
            @include res-mobi-reslangcurr;
        }

        .ship {
            @include res-mobi-socialship;
        }

        .social {
            @include res-mobi-socialship;
        }

        .back {
            background:  url(../images/main.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .search {
            @include res-mobi-nav;
            font-size: 12px;
        }
        .home {
            @include res-mobi-nav;
            font-size: 10px;
        }
        .shop {
            @include res-mobi-nav;
            font-size: 10px;
        }
        .about {
            @include res-mobi-nav;
            font-size: 10px;
        }
        .logo {
            @include res-mobi-nav;
            font-size: 20px;
          
            padding: 0px;
            letter-spacing: 1px;
        }
        .blog {
            @include res-mobi-nav;
            font-size: 10px;
        }
        .contact {
            @include res-mobi-nav;
            font-size: 10px;
        }
        .lookbook {
            @include res-mobi-nav;
            font-size: 10px;
        }
        .cart {
            @include res-mobi-nav;
            font-size: 12px;
        }

        .main-logo {
            margin-top: 80px;
            height: 58px;
            font-size: 50px;
           
            line-height: 0.96;
        }   
    
        .main-slogan {
            height: 80px;
            font-size: 8px;
            padding-top: 62px;

            line-height: 2.97;
        }
    
        .main-button {
            grid-area: contentbtn;
            width: 120px;
            height: 30px;
            border-radius: 20px;
        }
    
        .main-scroll-down {
            height: 10%;
            width: 7%;
            grid-area: scrolldown;
            padding: 9%;
        }
    
        .scrolling {
            margin-top: 4.5%;
            margin-right: 5%;
        }

        .grid-head {
                width: 90%;
                margin-left: 5%;
                align-items: center;
            
                /* grid columns and rows size */
                grid-template-columns: repeat(5, auto);
                grid-template-rows: auto;
                grid-gap: 15px;
                
                grid-template-areas: 
                        "lang curr ship ship social"
        }

        .grid-nav {
            padding: 2px;
            margin-left: 0px;
            width: 98%;
            line-height: 10px;
    
            /* grid columns and rows size */
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-gap: 0px;
    
            grid-template-areas: 
                    "search home shop about logo" 
                    "blog contact lookbook cart"
        }

        .grid-content {
            display: block;
            width: 95%;
            margin: 10px;
            line-height: 20px;
        
            /* grid columns and rows size */
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap: 18px;
        
            grid-template-areas: 
                    "logo"
                    "slogan"
                    "contentbtn"
                    "scrolldown"
            }

        .featured-products {
            margin-top: 5%;
            height: auto;
            margin-bottom: 5%;
        }


        .grid-feature-products {
            display: block;
            width: 100%;
            margin: auto;
            
            /* grid columns and rows size */
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 100vh);
            grid-gap: 25px;
        
            grid-template-areas: 
                    "feat1"
                    "feat2"
                    "feat3"
        }

        .feat1 {
            padding-bottom: 5%;
        }
        .feat2 {
            padding-bottom: 5%;
        }
        .feat3 {
            padding-bottom: 5%;
        }

        .new-collection {
            margin-top: 8%;
            height: 100%;
            margin-bottom: 5%;
          }

        .grid-new-collection {
            display: block;
            width: 100%;
            margin-left: 0px;
        
            /* grid columns and rows size */
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px;
        
            grid-template-areas: 
                    "coll1"
                    "coll2"
        }

        .coll1 {
            padding-bottom: 9%;
        }

        .coll2 {
            padding-bottom: 9%;
        }

        .goods {
            height: 500px;
        
        }

        .grid-best {
            display: block;
            width: 100%;
            margin: auto;

            /* grid columns and rows size */
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap: 10px;
        
            grid-template-areas: 
                    "best bestpar"
                    "bestbtn"
        }


        .blog-section {
            height: 100%;
            background-color: #f9f9f9;
        }

        .grid-blog {
            display: block;
            width: 100%;
            margin: auto;
     
        
            /* grid columns and rows size */
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px;
        
            grid-template-areas: 
                    "blogimg"
                    "bloginfo"
        }

        .best-heading { 
            margin-left: 0%;
            padding-bottom: 10%;
        }
        
        .best-para {
            padding: 5px;
            margin-left: 0%;
        }
        
        .best-btn {
            grid-area: bestbtn;
            width: 150px;
            height: 40px;
            border-radius: 20px;
            background-color: $teel-colour;
            text-align: center;
        }

        .footer1 {
            width: 100%;
            height: 100%;
            background-color: #2d2827;
          }
   
        .grid-footer {
            display: grid;
            width: 90%;
            margin: auto;
            padding-top: 5%;
  
        
            /* grid columns and rows size */
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px;
        
            grid-template-areas: 
                    "footercontact footercontact" 
                    "footerlinks footershop" 
                    "footerinsta footerinsta"
        }

        .footer1 {
            width: 100%;
            height: auto;
          }

        .footerlinks {
            grid-auto-rows: auto;
            width: 100px;
            margin: 0px;
            padding: 0px;
        }
        .footerlinks-content {
            width: 100px;
        }
    
        .footershop {
            width: 100px;
            margin: 0px;
            padding: 0px;
        }

        .footershop-content {
            width: 100px;
        }

        .footerinsta {
            padding: 0px;
        }

        .grid-instagram {
            display: grid;
            width: 90%;
            margin: auto;
            padding-top: 4%;
            padding-bottom: 5%;
        
            /* grid columns and rows size */
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            grid-gap: 5px;
        
            grid-template-areas: 
                    "insta1 insta2 insta3 insta4"
                    "insta5 isnta6 insta7 insta8"
        }

        .insta-img1 {
            grid: insta1;
            @include res-mobi-footer-insta-images;
        }
        .insta-img2 {
            grid: insta2;
            @include res-mobi-footer-insta-images;
        }
        .insta-img3 {
            grid: insta3;
            @include res-mobi-footer-insta-images;
        }
        .insta-img4 {
            grid: insta4;
            @include res-mobi-footer-insta-images;
        }
        .insta-img5 {
            grid: insta5;
            @include res-mobi-footer-insta-images;
        }
        .insta-img6 {
            grid: insta6;
            @include res-mobi-footer-insta-images;
        }
        .insta-img7 {
            grid: insta7;
            @include res-mobi-footer-insta-images;
        }
        .insta-img8 {
            grid: insta8;
            @include res-mobi-footer-insta-images;
        }

          .copyright {
            width: 100%;
            height: 50px;
        }

        .ToTop {
            width: 7%;
        }

        // About Page

        .grid2-nav2 {
                display: grid;
                margin: auto;
                width: 95%;
                line-height: 20px;
                text-transform: uppercase;
                align-items: center;
            
                /* grid columns and rows size */
                grid-template-columns: repeat(9, 1fr);
                grid-template-rows: auto;
                grid-gap: 6px;
            
                grid-template-areas: 
                        "logo home shop about blog contact lookbook cart search"
                }


        .who-we-are {
            margin-top: 5%;
            height: 100%;
            padding-bottom: 10px;
            background-color: $white-back;
        } 
        .grid2-about {
            display: block;
            width: 90%;
            margin: auto;
            line-height: 30px;
            align-content: center;
        
            /* grid columns and rows size */
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap: 10px;
        
            grid-template-areas: 
                    "whowe"
                    "aboutimage"
            }   

            .about-us-image {
                @include res-mobi-what-we-do-images;
            }

            .meet-us {
                margin-top: 15%;
                height: 100%;
                background-color: $white-back;
            }
            .meet-our-team {
                padding-top: 30%;
            }
  
            .grid2-meet {
                display: block;
                width: 75%;
                margin: auto;
                line-height: 70px;
                padding-top: 10px;
               
                /* grid columns and rows size */
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: auto;
                grid-gap: 10px;
            
                grid-template-areas: 
                        "feature"
                        "meet1"
                        "meet2"
                        "meet3"
                        "meet4"
            }  
            
            .meet1 {
                align-items: center;
            }
            .meet-name1 {
                @include res-mobi-meet-name;
            }
            .meet-position1 {
                @include res-mobi-meet-position;
            }
            .meet-social1 {
                @include res-mobi-meet-social ;
            }

            .meet2 {
                align-items: center;
            }
            .meet-name2 {
                @include res-mobi-meet-name;
            }
            .meet-position2 {
                @include res-mobi-meet-position;
            }
            .meet-social2 {
                @include res-mobi-meet-social ;
            }

            .meet3 {
                align-items: center;
            }
            .meet-name3 {
                @include res-mobi-meet-name;
            }
            .meet-position3 {
                @include res-mobi-meet-position;
            }
            .meet-social3 {
                @include res-mobi-meet-social ;
            }

            .meet4 {
                align-items: center;
            }
            .meet-name4 {
                @include res-mobi-meet-name;
            }
            .meet-position4 {
                @include res-mobi-meet-position;
            }
            .meet-social4 {
                @include res-mobi-meet-social ;
            }


            .what-we-do {
                height: 100%;
    
            }
            .grid2-we-do {
                display: block;
                width: 90%;
                margin: 0px auto;
               
                /* grid columns and rows size */
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                grid-gap: 20px;
            
                grid-template-areas: 
                         "wedoimg wedoinfo"
            }

            .what-we-do-info {
                grid-area: wedoinfo;
                height: 100%;
            }

            .what-we-do-para {
                @include res-mobi-about-paragraph;
            }

            .what-we-do-img {
                @include res-mobi-what-we-do-images;
            }


            // Contact Page

            .navcontact {
                @include res-mobi-nav-image;
            }

            .contact-us-view {
                
                height: 100%;
                 
             }

            .grid3-contact-us-view {
                    display: block;
                    width: 90%;
                    height: 100%;
                    margin: auto;
                    padding-top: 5%;
                
                    /* grid columns and rows size */
                    grid-template-columns: repeat(1, 1fr);
                }
            .grid3-form {
                    display: block;
                    width: 90%;
                    height: 100%;
                    margin: auto;
                    padding-top: 8%;
                    padding-bottom: 8%;
                    text-align: center;
                
                    /* grid columns and rows size */
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: auto;
                    grid-gap: 55px;
            
                    grid-template-areas: 
                            "yourname email"
                            "number  subject"
                            "textarea1 textarea1"
                            "contactbtn contactbtn"
                }

                .form1 {
                    width: 100%;
                    height: 100%;
                }

                // Blog Page

                .grid4-blog-main {
                    display: block;
                    width: 95%;
                    margin: auto;
                    padding-top: 3.5%;
                    padding-bottom: 3.5%;
                
                    /* grid columns and rows size */
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, auto);
                    grid-gap: 20px;
                
                    grid-template-areas: 
                            "blog1 blog2 blog3"
                            "blog4 blog5 blog6"
                                
                }

                
        .grid5-container {
        display: block;
        width: 100%;
    }

    .shop-page {
        height: 100%;

    }

    .grid6-productpage1 {
        display: block;
        width: 100%;
        margin: auto;
        padding-top: 2%;
    
        /* grid columns and rows size */
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 40px;
    
        grid-template-areas: 
                "productimage1 productcontent1 productcontent1"
                "productimage2 productcontent2 productcontent2"
                "productimage3 productcontent3 productcontent3"
                "productimage4 productcontent4 productcontent4"
                ". page1 page1"
            }

            .like {
                padding-right: 10%;
            }


            .product-heading {
                    width: 95%;
                    height: 100%;
                    margin: auto;
                }
            
                .product-price {
                    width: 95%;
                    height: 100%;
                    padding-bottom: 1%;
                    margin: auto;
                
                }
            
                .product-info {
                    width: 95%;
                    height: 100%;
                    padding-bottom: 1%;
                    margin: auto;
                }
            
                .product-button {
                    width: 100%;
                    margin: auto;
                }

                .product1-image {
                    width: 100%;
                    height: 300px;
                }
                .product2-image {
                    width: 100%;
                    height: 300px;
                }
                .product3-image {
                    width: 100%;
                    height: 300px;
                }
                .product4-image {
                    width: 100%;
                    height: 300px;
                }

        }
        

/* ---------------------------- TABLET -------------------------------*/        

        @media only screen 
    and (min-width: 481px)
    and (max-width: 1280px) {


    }