// Descriptive color variables

$dark-brown : #2d2827;
$font-light : #999999;
$teel : #a88d7b;
$heading : #333333;
$white-back : #ffffff;
$warm-gray : #919191;
$brown : #666666;
$border-line-blog : #ebebeb;
$gray : #919191;
$border-line : #e6e6e6;
$teel-colour : #a88d7b;
$white-border : #e6e6e6;
$white-panel : #f0f0f0;
$social-gray : #555555;
$to-top : #ffc579;
$footer-heading : #a5a5a5;
$visited : #4a6fc0;

// Social Media Colours

$facebook : #3b5998;
$google : #dd4b39;
$twitter : #1DA1F2;
$pintrest : #c8232c;

// gradient colours

$goods-gradient : linear-gradient( to right, #383838b9, #66666652);
$nav-panel : linear-gradient( to right, #383838b9, #383838b9);