// Descriptive color variables

$dark-brown : #2d2827;
$font-light : #999999;
$teel : #a88d7b;
$heading : #333333;
$white-back : #ffffff;
$warm-gray : #919191;
$brown : #666666;
$border-line-blog : #ebebeb;
$gray : #919191;
$border-line : #e6e6e6;
$teel-colour : #a88d7b;
$footer-heading : #e5e5e5;


// gradient colours

$goods-gradient : linear-gradient( to right, #383838b9, #66666652);
$nav-panel : linear-gradient( to right, #383838b9, #383838b9);